#google-logo{
    margin: 15px 20px 15px 20px;
}

.search-bar{
    position: relative;
    bottom: 25px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}

.nav-bar a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(64, 64, 64);
    text-decoration: none;
}
